# Python
__pycache__/
*.py[cod]
*$py.class


api/config.py
# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.whl

# Virtual environments
env/
env.bak/
venv/
venv.bak/
.venv/
ENV/
.ENV/
rehabenv/
renv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Flask
instance/
.webassets-cache
.flaskenv
.env

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python tooling
.mypy_cache/
.python-version

# Celery
celerybeat-schedule
celerybeat.pid